@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   /* background-color:black;*/
    list-style: none;
    list-style-type: none;
}
